<div class="profile-container">
  <img src="https://github.com/{{ site.github_username }}.png" alt="{{ site.github_username }}" class="profile-img">
  <h2>{{ site.title }}</h2>
  <p class="description">{{ site.description }}</p>
</div>

<nav class="sidebar-nav">
  <hr>
  <ul>
    <li><a href="{{ "/" | relative_url }}">Blog/Home</a></li>
    <!-- <li><a href="{{ "/notes/" | relative_url }}">Technical Notes</a></li> -->
  </ul>

  <hr>
  <p class="sidebar-heading">Socials</p>
  <ul>
    {% if site.github_username %}
        <li><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></li>
    {% endif %}
    {% if site.linkedin_username %}
        <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></li>
    {% endif %}
    {% if site.twitter_username %}
        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
    {% endif %}
  </ul>
</nav>